In [153]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
import warnings
import traceback
warnings.filterwarnings('ignore')

In [37]:
data = pd.read_csv("/Users/lenin.s/Desktop/SOLVERMINDS/PROJECTS/SEDGE/DATASETS/all_data_1000.csv")

In [203]:
def multi_target_regression(data,target_1=None,target_2=None,target_3=None,target_4=None,target_5=None): 
    
    try:
        target_names =[target_1,target_2,target_3,target_4,target_5]
        targets = [x for x in target_names if x is not None]

        cat_data = data.select_dtypes(include=["object"])
        num_data = data.select_dtypes(include=["int64", "float64"])
        num_data = num_data.fillna(num_data.mean())
        cat_data = cat_data.fillna(cat_data.mode().iloc[0])
        label_en_output = cat_data.apply(LabelEncoder().fit_transform)
        model_data = pd.concat([num_data.reset_index(drop=True), label_en_output.reset_index(drop=True)], axis=1)

        x = model_data.drop(targets, axis=1)
        y = model_data[targets]

        model = MultiOutputRegressor(RandomForestRegressor())
        model.fit(x,y)
        
        feature_importance_equation = pd.Series([])
        feature_df = pd.DataFrame(x.columns)
        feature_df.columns = ['Feature_Name']
        
        df_feature_importance = pd.DataFrame()
        
        for i in range(0,len(targets)):
            feature_importance_equation[i] = pd.Series(model.estimators_[i].feature_importances_, index = x.columns).sort_values()
            df = pd.DataFrame({'Feature_Name':feature_importance_equation[i].index, 'Feature_value_'+str(targets[i]):feature_importance_equation[i].values})
            feature_df = pd.merge(left=feature_df, right=df, how='left', on='Feature_Name')
        return feature_df
    except:
        traceback.print_exc()

In [205]:
multi_target_regression(data,'pms','pss','age')

         Feature_Name  Feature_value_pms  Feature_value_pss  Feature_value_age
0                year           0.000000           0.000000           0.000000
1               month           0.010530           0.011295           0.005523
2                 pin           0.067844           0.131988           0.106175
3       observationid           0.041454           0.108539           0.022412
4             profile           0.013765           0.037358           0.006552
5               sofid           0.148381           0.047061           0.023614
6               scope           0.038062           0.022675           0.146460
7      incidents_freq           0.150628           0.151616           0.023824
8              tk_exp           0.145582           0.137099           0.362297
9   resigned_rejoined           0.001413           0.019742           0.002526
10      days_on_board           0.112492           0.065826           0.075689
11                 id           0.058111           0.048776           0.024916
12               date           0.075984           0.073685           0.020193
13           position           0.018549           0.093993           0.084166
14    maritial_status           0.010590           0.013934           0.064983
15        nationality           0.106615           0.036412           0.030671